node_modules/
bower_components/
.tmp
logs/
.vscode/

lib-cov
*.seed
*.log
*.out
*.pid
.sass-cache
npm-debug.log

._
.DS_STORE
.DS_Store
.netbeans
nbproject
.idea/
.node_history

yarn-error.log
package-lock.json
yarn.lock
coverage/
run/
*.sw*
*.un~
